<%- include('header.ejs') %>

<div id='bg' class='bg1'></div>
<div id='main_w'>
    <%- include('../../public/general/side_menu/sideMenu.ejs') %>
    <%- include('accueil_w.ejs') %>
    <%- include('statistic_w.ejs') %>
    <%- include('player_w.ejs') %>
    <%- include('doc_w.ejs') %>
</div>

<%- include('footer.ejs') %>